.flashgame {
  font-size: 24px;
  width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px
}

.flashgame-header {
  height: 120px;
  text-align: center;
}

.flashgame-score {
  font-size: 32px;
  font-weight: bold;
}

.timer {
  text-align: center;
}

.flashcard {
  width: 464px;
  height: 364px;
  padding: 24px 48px 0;
  background: url('/assets/flashcards-frame.png');
  background-color: #e4d7bb;
}

.correct {
  background-color: rgb(115, 221, 115);
}

.incorrect {
  background-color: rgb(192, 76, 113);
}

.variants {
  list-style: square;
}

.variant {
  color: #743f39;
}

.variant:hover {
  cursor: url("cursor2.png"), auto;
}