@font-face {
  font-family: 'pixel';
  src: url('/fonts/font.ttf');
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  background: rgb(91,187,199);
  background: radial-gradient(circle, rgba(91,187,199,1) 0%, rgba(54,130,128,1) 100%);
  background-image: url('/water.png');
}

#game-title {
  margin-bottom: -30px;
  margin-top: 30px;
  text-align: center;
}

#map-inactive {
  width: 1200px;
  height: 842px;
  margin: 0 auto;
  background-image: url('/map-inactive.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

#map {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.level {
  display: flex;
  height: 50%;
  width: 100%;
}

.phase {
  height: 100%;
  width: 50%;
}

#map:has(#phase-0.active:hover) {
  background-image: url('/map-phase-0.png');
  cursor: pointer;
}

#map:has(#phase-1.active:hover) {
  background-image: url('/map-phase-1.png');
  cursor: pointer;
}

#map:has(#phase-2.active:hover) {
  background-image: url('/map-phase-2.png');
  cursor: pointer;
}

#map:has(#phase-3.active:hover) {
  background-image: url('/map-phase-3.png');
  cursor: pointer;
}

#main {
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

#navbar {
  border-bottom: 1px solid #cccccc;
  background-color: black;
  color: white;
}

#navbar a {
  text-decoration: none;
  color: white;
}
#navbar a img {
  width: 150px;
}

#modal {
  display: flex;
  flex-direction: column;
}

#modal .section {
  display: flex;
}

#modal-content .left {
  background-image: url('/assets/modal-content-left.png');
}

#modal-content .right {
  background-image: url('/assets/modal-content-right.png');
}

#modal-content .center {
  background-color: #ead4aa;
  padding: 20px;
}

#modal .left,
#modal .right {
  width: 32px;
}

#modal .center {
  flex: 1
}

#modal-header,
#modal-footer {
  height: 32px;
}

#modal-header .left {
  background-image: url('/assets/modal-header-left.png');
}

#modal-header .right {
  background-image: url('/assets/modal-header-right.png');
}

#modal-header .center {
  background-image: url('/assets/modal-header-center.png');
}

#modal-footer .left {
  background-image: url('/assets/modal-footer-left.png');
}

#modal-footer .right {
  background-image: url('/assets/modal-footer-right.png');
}

#modal-footer .center {
  background-image: url('/assets/modal-footer-center.png');
}