.container {
    text-align: center;
    background-color: #EAD4AA;
    margin: auto;
    font-size: 25px;
    width: 740px;
    max-height: 500px;
    height: auto;
    padding: 15px;
  }
  
.button {
    width: 100px;
}